:root {
    --primaryColor: #4844F8;
}

body {
    display: flex;
    margin: 0;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

main{
    width: 100%;
    padding: 16px;
}

.input{
    width: 100%;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

input{
    width: auto;
    padding: 8px 12px;

    background: #fcfcfc;
    border: 1px solid black;
    border-radius: 8px;
}

button{
    margin: 1rem 0;
    padding: 1rem 2rem;

    border-radius: 8px;
    background: var(--primaryColor);
    color: white;
    font-size: large;
    font-weight: bold;
}