@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primaryColor: #4844f8;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: grid;
	grid-template-columns: auto 1fr;
}

select {
	cursor: pointer;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}
.cerrar-dialog {
	float: right;
	-webkit-text-stroke-width: thick;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
